// scss-docs-start theme-variables
$body-bg:               $athens-gray;
$body-color:            $steel-gray;
$font-family-base:      $source-sans-pro;

$primary:               $mariner;
$dark:                  $steel-gray;

$link-color:            $mariner;
$link-hover-color:      $matisse;

$header-bg:             $athens-gray;

$nav-link-color:        $steel-gray;
//$enable-shadows: false;
//$prefix: "mo-";
// scss-docs-end theme-variables
