@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html :where(.editor-styles-wrapper) {
  font-family: 'Open Sans', sans-serif;
  font-size: initial;
  line-height: initial;
  color: initial;
  background: #fff;
}
.edit-post-visual-editor__post-title-wrapper .editor-post-title,
.is-root-container {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
}