.footer-dark {
  a {
    color: $gull-gray;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  .footer-bottom {
    a {
      color: $mid-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sixteen-plus {
  width: rem-calc(17);
  height: rem-calc(17);
  font-size: rem-calc(10);
  letter-spacing: -1.2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $danger;
  padding: 0 1px;
  vertical-align: text-bottom;
  border: solid 1px $danger;
  overflow: hidden;
}