.mega-menu--nav {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  .nav--item > a {
    padding: rem-calc(20) rem-calc(16);
    font-size: rem-calc(18);
    font-weight: 700;
    text-decoration: none;
    line-height: 1.2;
    color: $steel-gray;
    &:hover {
      color: $mine-shaft;
    }

    .mega-menu--lg & {
      padding: rem-calc(20) rem-calc(26);
    }
  }
}

.sub-menu {
  width: 100%;
  background-color: $white;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
  }

  .nav--item:hover & {
    opacity: 1;
    visibility: visible;
  }

  .nav--item {
    display: flex;
    flex-direction: column;

    > a {
      position: relative;
      margin-right: - rem-calc(26);
      margin-left: - rem-calc(26);
      padding: rem-calc(10) rem-calc(26);

      &::before {
        display: block;
        width: rem-calc(8);
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
      }

      &:hover {
        background-color: $athens-gray;
      }
    }
  }

  .nav--sup-title {
    display: block;
    clear: both;
    font-size: rem-calc(13);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .nav--description {
    display: block;
    clear: both;
    font-size: rem-calc(12);
    font-weight: 400;
    color: $mid-gray;
  }
}

.nav--block-columns {
  display: flex;
}

.nav--block-column {
  flex-basis: 100%;
  flex-shrink: 1;
  padding: rem-calc(40) rem-calc(50);

  &.nav--block-feature {
    background-color: $athens-gray;
  }

  h2 {
    font-size: rem-calc(14);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    color: $steel-gray;
  }
  hr {
    margin-top: rem-calc(8);
    margin-bottom: rem-calc(8);
    color: $gull-gray;
  }
}

.nav--block-feature {
  .nav--item {
    > a {
      .mega-menu--lg & {
        padding: rem-calc(20) rem-calc(26);
      }
      &:hover {
        background-color: $white;
        &::before {
          background-color: $gull-gray;
        }
      }
    }
  }
}

.nav--block-column-inner + .nav--block-column-inner {
  margin-top: rem-calc(30);
}